#BIFROST_ADMIN_USERNAME=
#BIFROST_ADMIN_PASSWORD=
BIFROST_ENCRYPTION_KEY=

############################
# Below are optional keys if you have a similar setup to Nerv
############################
# Provider Keys
OPENROUTER_DEFAULT_API_KEY=
GEMINI_DEFAULT_API_KEY=

# MCP Keys
COMPOSIO_CONSUMER_API_KEY=
CONTEXT7_API_KEY=
EXA_API_KEY=

# Virtual Keys
BIFROST_OPENCODE_KEY=
# Optional if you use jetbrains
BIFROST_OPENCODE_JETBRAINS_MCP_KEY=
BIFROST_JUNIE_MCP_KEY=